@import './utilss.scss';

$textbox-background:#eaeaea;

$bot-textbox-background:$light-blue;

.chatbot-handler{
  position:fixed;
  right:20px;
  bottom:50px;
  background:$golden-gradient;
  width:65px;
  height: 65px;
  @include display_as_column_center();
  border-radius: 50%;
  border: 2px solid $blue;
  z-index: 100;
  cursor: pointer;
  box-shadow: 2px 2px 4px $drop-shadow;
  img{
    width:55px;
    // animation: animate-chatbot 1s infinite ease-in-out 4s;
  }

  i{
    display: none;
    font-size:30px;
    font-weight: bold;
    padding: 5px;
  }


}

@keyframes animate-chatbot {
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(0px) ;

  }
  100%{
    transform: translateY(0px) scaleY(100%);
  }
}


.chatbox{
    display: none; 
    position: fixed;
    right: 24px;
    bottom: 121px;
    height: 470px;
    width: 308px;
    background-color: rgb(66, 50, 50);
    background-color: white;
    background-size: 60%;
    z-index: 99;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 1px rgb(7, 7, 7);
    border:1px solid $yellow;


    ::-webkit-scrollbar {
      width: 2px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    
  .heading{
    // box-shadow: 0px 0.3px 4px 1px rgb(7, 7, 7);
    background: rgb(128,0,0);
    background: $golden-gradient;
    @include display_as_row();
    color:black;
    > img{
      width:35px;
      margin:16px 0px 16px 30px;
    }
    section{
      padding-left: 10px;
      margin:16px 0px;
      h2{
        font-size:15px;
        font-weight: 600;
      }
      p{
        @include display_as_row_center();
        justify-content: flex-start;
        font-size:11px;
        img{
          width:10px;
          height:10px;
          margin-right: 5px;
        }
      }
    }
  }


  .texts{
    width:100%;
    height:340px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:2px 8px;

    > div{
      position: relative;
      font-size:13px;
      color:black;
      padding:3px 7px;
      border-radius: 13px;
      background-color:$textbox-background;
      // max-width:75%;
      max-width: 220px;
      margin: 5px;
      &::after{
        // content: " ";
        // position: absolute;
        // top:0;  
        // width:40px;
        // height:10px;
        // background-color: $textbox-background; 
        // background-color: red   ; 

        // border-top: 5px solid $textbox-background;
      }
      > img{
        width:30px;
      }
      .btn{
        background:$golden-gradient;
        padding:5px 10px;
        border-radius: 15px;
        font-size:12px;
        margin:1px;
        text-decoration: none;
        font-weight: 600;
        color:black;
      
          @include display_as_row_center();
          flex-wrap: nowrap;
          margin: 5px;
      }

      div , p{
        font-size:12px;
      
        &:nth-child(1){
          font-weight: bolder;
          font-size:12px;
        }
        &:nth-child(2){
          font-size:10px;
        }
      }
     

    }
    .chatbot_txt{
      border-top-left-radius: 0px;
      text-align: center;
    }
    .usr_txt{
      border-top-right-radius: 0px;
      position: relative;
      left:80px;
      text-align: center;
    }
    
  }
  
  

  .inputs{
    @include display_as_row_center();
    background-color: $textbox-background;
    padding:5px 0px;
    input{
      width:240px;
      padding:5px 10px;
      outline:none;
      font-size:12px;
      border:none;
      border-radius:3px;;
    }
    button{
      background:$golden-gradient;
      width:40px;
      height:40px;
      @include display_as_column_center();
      border-radius: 50%;
      cursor: pointer;
      border:none;
      outline: none;
      margin-left: 6px;
      i{
        font-size:17px;
      }
    }
  }

}

@media screen and (max-width:550px) {
  .chatbot-handler{
    right:10px;
    bottom:10px;
  }
  .chatbox{
    right:10px; 
    bottom:79px; 
  } 
}
